@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --color-primary: #7c25f8;
    --color-primary-dark: #3c00c3;
    --color-primary-light: #b45aff;

    --color-secondary: #9bf0e1;
    --color-secondary-dark: #69bcae;
    --color-secondary-light: #ceffff;

    --color-primary-text: rgb(250, 250, 250);
    --color-secondary-text: #000;

    --font-primary: 'Lato', sans-serif;
}

.font-primary{
    font-family: var(--font-primary);
    font-weight: 700;
}

.color-primary{
    color: var(--color-primary);
}

.color-secondary{
    color: var(--color-secondary);
}

html, body, #home{
    height: 100%;
} 

.title-1{
    font-size: 120px;
    font-weight: 900;
}

.title-1-secondary{  
    font-size: 48px;
    font-weight: 700;
}

.title-2{
    font-size: 34px;
    font-weight: 700;
}

.body-text{
    font-size: 18px;
}

@media (max-width:  768px){
	.title-1{
        font-size: 64px;
    }
}

.primary-text-color{
    color: var(--color-primary-text);
}

.bg-white{
    background-color: var(--color-primary-text);
}

.bg-primary{
    background-color: var(--color-primary);
}

body{
    background-image: url(../_images/capa.png), linear-gradient(225deg, rgba(125, 37, 248, 0.8), rgba(181, 90, 255, 0.8)) ;
    background-attachment: fixed;
}

#header{
    background-color: rgba(0, 0, 0, 0.6);
}

.logo{
    font-size: 1.3em;
    color: var(--color-primary-text);
}

.nav-link{
    color: var(--color-primary-text);
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .06em;
    text-align: center;
}

.nav-link:hover{
    color: var(--color-primary-text);
    text-align: center;
}

.scale-hover:hover{
    transform: scale(1.04);
}

.btn-principal{
    border-radius: 50px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    padding: 8px 16px;
    background-color: var(--color-primary-dark);
    color:  var(--color-primary-text)
}

.btn-principal:hover{
    background-color: var(--color-primary);
}

.left-divisory{
    border-left: 1px solid var(--color-primary-text);
}

.btn-menu{
    border: 2px solid var(--color-primary-text);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.btn-menu:focus{
    box-shadow: none;
}

.icon-menu{
    font-size: 24px;
    color: var(--color-primary-text);
}